a:hover {
	text-decoration: none;
	-webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease;/* Firefox 4-15 */
	-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
	transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
#nav {

	display: none;
}
.hide{
	display: none;
}
.current {
	color: #161a1f;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0.1, Direction=90, Color=#b7babb)";/*IE 8*/
	text-shadow: 0em 0em 0.1em #b7babb;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0.1, Direction=90, Color=#b7babb); /*IE 5.5-7*/
	-webkit-transition: all 0.5s ease-in-out;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease-in-out;/* Firefox 4-15 */
	-o-transition: all 0.5s ease-in-out;/* Opera 10.5-12.00 */
	transition: all 0.5s ease-in-out;/* Firefox 16+, Opera 12.50+ */
	-moz-transform: rotate(1deg) scale(1,1) skewX(0deg) skewY(0deg) translate(-10px, 0px);/* FF3.5+ */
	-webkit-transform: rotate(1deg) scale(1,1) skew(0deg, 0deg) translate(-10px, 0px);/*Saf3.1+, Chrome*/
	-o-transform: rotate(1deg) scale(1,1) skew(0deg, 0deg) translate(-10px, 0px);/* Opera 10.5 */
	-ms-transform: rotate(1deg) scale(1,1) skew(0deg, 0deg) translate(-10px, 0px);/* IE 9 */
	transform: rotate(1deg) scale(1,1) skew(0deg, 0deg) translate(-10px, 0px);
}
#hinhPtnCafe {
	margin: 10px 25% 0 25%;
	width: 50%;
}
#tenHinh {
	text-align: center;
}
#motaHinh p {
	font-size: 1.2em;
}
.headerND {
	border-right: 0.1em dotted rgba(193, 193, 193,0.7);
	border-bottom: 0.1em dotted rgba(193, 193, 193,0.7);
}
.headerND:after {
	content: "x";
	position: absolute;
	right: -10px;
	bottom: -17px;
	color: rgba(193, 193, 193,0.7);
	font-size: 30px;
	-webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease;/* Firefox 4-15 */
	-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
	transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.containND {
	padding-left: 0;
	border-left: 0.1em dotted rgba(193, 193, 193,0.7);
	/*border-bottom: 0.1em dotted rgba(193, 193, 193,0.7);*/

	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}
.containND h3 {
	padding-left: 15px;
	border-bottom: 0.1em dotted rgba(193, 193, 193,0.7);
}
.containND h3:before {
	margin-left: -15px;
	content: "o";
	position: relative;
	color: rgba(193, 193, 193, 0.7);
	font-size: 30px;
	left: -10px;
	bottom: -15px;
}
.containND p {
	padding-left: 15px;
}
.containND h4 {
	padding-left: 15px;
	border-bottom: 0.1em dotted rgba(193, 193, 193,0.7);
}
.containND h4:before {
	content: "o";
	position: relative;
	color: rgba(193, 193, 193, 0.7);
	font-size: 30px;
	left: -25px;
	bottom: -15px;
}
.containND .progress {
	margin-left: 15px;
}
#footer {
	text-align:center;
	margin-top: 50px;
}
ul.listCty{
	list-style:none;
	padding-left: 0px;
}
ul.listCty > li {
	margin-left: 15px;
}
ul.listCty a{
	color: #3B4549;
}
@media (min-width: 1024px) {
	.headerND:hover:after {
		color: #3b4549;
	}
	.containND:hover {
		-moz-transform: rotate(0deg) scale(1.1, 1.1) skewX(0deg) skewY(0deg) translate(-25px, 0px);/* FF3.5+ */
		-webkit-transform: rotate(0deg) scale(1.1, 1.1) skew(0deg, 0deg) translate(-25px, 0px);/*Saf3.1+, Chrome*/
		-o-transform: rotate(0deg) scale(1.1, 1.1) skew(0deg, 0deg) translate(-25px, 0px);/* Opera 10.5 */
		-ms-transform: rotate(0deg) scale(1.1, 1.1) skew(0deg, 0deg) translate(-25px, 0px);/* IE 9 */
		transform: rotate(0deg) scale(1.1, 1.1) skew(0deg, 0deg) translate(-25px, 0px);
	}
	#nav {
		list-style: none;
		display: inherit;
		position: fixed;
		top: 150px;
		left: 10px;
		font-size: 1.4em;
		-webkit-transition: all 0.7s ease-in-out;/* Safari 3.2+, Chrome */
		-moz-transition: all 0.7s ease-in-out;/* Firefox 4-15 */
		-o-transition: all 0.7s ease-in-out;/* Opera 10.5-12.00 */
		transition: all 0.7s ease-in-out;/* Firefox 16+, Opera 12.50+ */
	}
}
